# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
pnpm-lock.yaml
npm-shrinkwrap.json

# build / deploy caches
/.turbo
.eslintcache
.vercel
coverage/

# Next.js
/.next
/out
.next/cache

# production
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*

# misc
.DS_Store
*.tsbuildinfo

# editor
.vscode
.idea

# local history
.history
